* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    /*hide h-scroll*/
}

.learn a {
    background-color: rgba(16, 19, 23, 0.5);
    transform: skewX(-10deg);
}

.ti{
    font-size: 40px;
    font-weight: bolder;
    background-color: #374350;
    width: 350px;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

.current {
    transform: skewX(10deg);
}

.nav-bar {
    width: 100%;
    height: 70px;
    background-color: rgba(24, 29, 35, 0.9);
}

.nav-bar ul {
    margin-right: 7px;
    list-style: none;
    float: right;
}

.nav-bar ul li {
    list-style: none;
    display: inline-block;
    line-height: 70px;
}


.nav-bar ul li a {
    /*
    color: white;
    text-decoration: none;
    font-family: "Calibri", sans-serif; 
    padding: 25px 25px;
    font-size: 18px;
    padding-top: 19px;
    padding-bottom: 19px;
    */
    text-decoration: none;
    position: relative;
    color: #fff;
    font-size: 18px;
    font-family: "Calibri", sans-serif;
    display: block;
    overflow: hidden;
    transition: 0.7s all;
    padding-left: 25px;
    padding-right: 25px;
}

/*
.nav-bar ul li:hover{
    background-color: #E74240;
    transition-property: all;
    transition-duration: 500ms;    
}

.nav-bar ul li a:hover{
    color:#181D23;
    transition-property: all;
    transition-duration: 500ms;    
}
*/

.home a:hover,
.news a:hover,
.teams a:hover,
.about a:hover {
    background-color: rgba(231, 66, 64, 0.6);
    transform: skewX(-10deg);
    transition-property: all;
    transition-duration: 0.1s;
}

.logobg {
    z-index: -100;
    float: left;
    display: inline-block;
}
.main-container {
    background-color: white;
    height: 600px;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
    overflow: hidden;
    z-index: -100;
    background-position: center;
}

.topics {
    max-height: 600px;
    background-color: #1B1B1D;
    overflow-x:hidden;
    position: absolute;
    width: 18rem;
}

.topics li {
    list-style: none;
}

.topics li ul li a, .another, .another-another{
    padding-left: 20px;
}


.topics a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    text-decoration: none;
    color: white;
    font-family: "Calibri", sans-serif;
    display: block;
}

.topics a:hover {
    transition-property: all;
    transition-duration: 500ms;
    color: #E74240;
}


#content{
    margin-left: 24%;
    width: 70%;
    padding: 15px;
    font-family: sans-serif;
    font-size: 17px;
}


.learnvid {
    min-height: 100px;
    width: auto;
}



#section-e {
    margin-top: 470px;
    padding-left: 90px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    /*para may allowance sa left and right*/
    background-color: #1B1B1D;
    color: #F4F4F4;
    height: 20vh;
    display: flex;
    flex-direction: row;
}


.other-links {
    
    margin-top: 10px;
    border-left: 3px solid #E74240;
    padding-left: 17px;
    font-size: 25px;
    line-height: 50px;
    font-family: "Calibri", sans-serif;
}

.other{
    margin-top: 10px;
}

.title-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.other img{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fifa {
    margin-top: 5px;
    width: 120px;
    float: right;
    margin-right: 54px;
}

.afc {
    margin: 5px;
    margin-left: -30px;
        width: 150px;
    float: left;
}

.fox{
    width: 140px;
    float: left;
    margin-left: -30px;
    margin-top: -10px;
    
    
}

.espn{
    float: left;
    width: 10px;
    padding-top: 7px;
    
}

.title-container2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 50px;
}

.title-container2{
    padding-left:  80px; 
}

.contact {
    
    margin-top: 10px;
    border-left: 3px solid #E74240;
    padding-left: 17px;
    font-size: 25px;
    line-height: 50px;
    font-family: "Calibri", sans-serif;
}

.contact-list ul {
    margin-top: 20px;
    list-style: none;
}

.contact-list ul li, .contact-list ul li a {
    text-decoration: none;
    font-family: sans-serif;
    color: white;
    
}




#footer {
    height: 5vh;
    background-color: #121213;
    color: white;
    text-align: center;
}

#footer a:hover {
    color: #E74240;
    transition-property: all;
    transition-duration: 500ms;
}

#footer a {
    text-decoration: none;
    line-height: 5vh;
    font-family: "Calibri", sans-serif;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
