* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    /*hide h-scroll*/
}

.learn a {
    background-color: rgba(16, 19, 23, 0.5);
    transform: skewX(-10deg);
}


.current {
    transform: skewX(10deg);
}

.nav-bar {
    width: 100%;
    height: 70px;
    background-color: rgba(24, 29, 35, 0.4);
}

.nav-bar ul {
    margin-right: 7px;
    list-style: none;
    float: right;
}

.nav-bar ul li {
    list-style: none;
    display: inline-block;
    line-height: 70px;
}


.nav-bar ul li a {
    /*
    color: white;
    text-decoration: none;
    font-family: "Calibri", sans-serif; 
    padding: 25px 25px;
    font-size: 18px;
    padding-top: 19px;
    padding-bottom: 19px;
    */
    text-decoration: none;
    position: relative;
    color: #fff;
    font-size: 18px;
    font-family: "Calibri", sans-serif;
    display: block;
    overflow: hidden;
    transition: 0.7s all;
    padding-left: 25px;
    padding-right: 25px;
}

/*
.nav-bar ul li:hover{
    background-color: #E74240;
    transition-property: all;
    transition-duration: 500ms;    
}

.nav-bar ul li a:hover{
    color:#181D23;
    transition-property: all;
    transition-duration: 500ms;    
}
*/

.home a:hover,
.news a:hover,
.teams a:hover,
.about a:hover {
    background-color: rgba(231, 66, 64, 0.6);
    transform: skewX(-10deg);
    transition-property: all;
    transition-duration: 0.1s;
}

.logobg {
    z-index: -100;
    float: left;
    display: inline-block;
}


.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -100;
}

.video video {
    min-width: 100%;
    min-height: 100%;
}

.video video {
    min-width: 100%;
    min-height: 100%;
}

.h-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-learn {
    margin-top: 130px;
    margin-left: 182px;
    margin-right: 182px;
    width: 1000px;
    height: auto;
}

p {
    margin-left: 182px;
    margin-right: 182px;
    text-align: center;
    color: white;
    font-family: "Calibri", sans-serif;
    font-size: 25;
}

.h-content a {
    margin-top: 20px;
    margin-left: 575px;
    margin-right: 575px;
    text-align: center;
    color: white;
    font-family: "Calibri", sans-serif;
    font-size: 25;
    text-decoration: none;
    background-color: #E74240;
    padding: 10px;
    cursor: pointer;
    display: block;
    position: relative;
    transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;
}

.h-content a:hover {
    color: #E74240 !important;
    background-color: transparent;
    transition-property: all;
    transition-duration: 500ms;
}

.h-content a:hover:before {
    top: 0%;
    bottom: auto;
    height: 100%;
}

.h-content a:before {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 0px;
    width: 100%;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #fff;
    transition: all 0.4s cubic-bezier(0, 0, 0, 1) 0s;
}
